i.ItemMenuLateral
{
    display: inline-block;
    font: 24px/1 "Material Design Icons";
    font-size: 20px;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

